@{
    ViewBag.Title = "Home Page";
}


<body>
    <div class="container">
    

        <section style="position: relative; left: 125px">
            <div id="carouselExampleControls" class="carousel slide col-9"
                 data-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active">
                        <img class="d-block w-100"
                             src="https://catracalivre.com.br/wp-content/uploads/2021/11/black-friday-pacotes-viagem-ofertas-768x512.jpg"
                             alt="First slide">
                    </div>
                    <!--<div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
    </div>*/-->
                    <div class="" style=" position: relative ;bottom: 90px; left: 250px">
                        <a class="btn btn-warning" href="Clientes" role="button">
                            Cadastrar
                            Cliente
                        </a> <a class="btn btn-success" href="/Destinoes"
                                role="button">Cadastrar Destino</a>

                    </div>
                </div> 


                <a class="carousel-control-prev" href="#carouselExampleControls"
                   role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only"></span>
                </a> <a class="carousel-control-next" href="#carouselExampleControls"
                        role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only"></span>
                </a>


            </div>
        </section>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>
